body {
	display: fullscreen;
	font-family: 'Noto Sans TC', sans-serif;
	z-index: 7120;
}

.map {
	position: absolute;
}

img {
	width: 97vw;
	height: 97vh;
}
.full {
	width: 100vw;
	height: 100vh;
}
.links {
	position: absolute;
	top: 2.5vmax;
	left: 2vmax;
	font-size: 2.7vmax;
}

.btn {
	position: absolute;
	z-index: 5;
}

#btnback {
	position: absolute;
	display: none;
	top: 91vh;
	left: 90vmax;
	z-index: 8;
}

.nav {
	position: absolute;
	z-index: 7122;
}


.btn-circle-preset {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 13px;
}


.team {
	position: absolute;
	display: none;
	z-index: 7;
}

.teamimg {
	position: absolute;
	display: block;
	z-index: 7;
}

.abi {
	position: absolute;
	max-width: 2.7%;
	left: 64.4vmax;
	top: 46.3vmax;
	height: auto;
	z-index: 8;
}
.abi45 {
	transform: rotate(-0.125turn);
}
.abi90 {
	transform: rotate(-0.25turn);
}
.abi135 {
	transform: rotate(-0.375turn);
}
.abi180 {
	transform: rotate(-0.5turn);
}
.abi225 {
	transform: rotate(-0.625turn);
}
.abi270 {
	transform: rotate(-0.75turn);
}
.abi315 {
	transform: rotate(-0.875turn);
}


.ifCon {
	display: none;
	height: 100vh;
	width: 100vw;
}

.frame {
	display: relative;
	padding-top: 10vh;
}


#egg{
	background-color: rgb(235, 23, 69);
	border-color: rgb(235, 23, 69);
	top: 71vh;	
	left: 22vw;
	opacity: 0.05;
}


.glow {
	/* background-color: #004A7F;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none; */
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
	0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
	0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }