body {
	font-family: 'Noto Sans TC', sans-serif;
	z-index: 7120;
}

.map {
	width: 100vmax;
	position: relative;
}

.map img{
	width: 100vmax;

}

.links {
	position: absolute;
	top: 2.5vmax;
	left: 2vmax;
	font-size: 2.7vmax;
}

.btn {
	position: absolute;
	z-index: 5;
}

#btnback {
	top: 70vmax;
	left: 90vmax;
}

.nav {
	position: absolute;
	z-index: 7122;
	top: 0px;
}


.btn-circle-preset {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.team {
	position: absolute;
	width: 100vmax;
	height: 50vmax;
	top: 1px;
	display: none;
	z-index: 7;
}

#btnback {
	z-index: 8;
}
.teamimg {
	position: absolute;
	top: 2vmax;
	z-index: 7;
}

.abi {
	position: absolute;
	z-index: 8;
}
.abi45 {
	transform: rotate(-0.125turn);
}
.abi90 {
	transform: rotate(-0.25turn);
}
.abi135 {
	transform: rotate(-0.375turn);
}
.abi180 {
	transform: rotate(-0.5turn);
}
.abi225 {
	transform: rotate(-0.625turn);
}
.abi270 {
	transform: rotate(-0.75turn);
}
.abi315 {
	transform: rotate(-0.875turn);
}